<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

        <div class="container">
            <form method="POST">
                <div class="row">
                    <div class="input-field col s8">
                        <input name="username" id="username" type="text" class="validate">
                        <label for="username">Username</label>

                        <input name="password" id="password" type="text" class="validate">
                        <label for="password">Password</label>

                        <button type="submit" value="Submit">Register</button>
                    </div>
                </div>
            </form>

            <h3>Don't Have an Account?</h3><a href="/register">Register</a>

        </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>