<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register</title>
</head>
<body>

<div class="container">
    <form method="POST">
        <div class="row">
            <div class="input-field col s8">
                <label for="username">Username</label>
                <input name="username" id="username" type="text" class="validate" placeholder="Enter a Username">

                <label for="password">Password</label>
                <input name="password" id="password" type="text" class="validate" placeholder="Enter a Password">

                <label for="password">Full Name</label>
                <input name="name" id="name" type="text" class="validate" placeholder="First and Last Name">




                <input type="submit">
            </div>
        </div>
    </form>

</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>